{% extends "AydeBundle:Default:base.html.twig" %}

{% block content %}
    
        <div id="logo-dse-top-right" class="col-xs-offset-3 col-xs-9 col-sm-offset-7 col-sm-1 col-md-offset-9 col-md-1 col-xl-offset-11 col-xl-1">
                <div id="logo-index">
                    <h5></h5>
                </div>
        </div>
    
    <div class="container" style="background-color: lightblue;">
    
        <div class="row">
            
            <div  class="col-xs-1 col-sm-1 col-md-3" style="background-color: lightblue;"></div>
            
            <div id="form-center" class="col-xs-10 col-sm-10 col-md-6 rounded-corners">

                <div class="row">
                    <div id="logo-hcdn-index">
                        <h5></h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 separador">
                        <span><h1>AyDE - GESTION DE PROYECTOS</h1></span>
                    </div>
                </div>
                
                <div class="row">
                    <form  id="form-login" method="TODO" action="TODO">
                        <div id="form-login">
                            
                            <fieldset class="form-group col-md-offset-1 col-md-10">
                                <input type="text" class="form-control" id="form-login-usuario" placeholder="Ingrese su email">
                            </fieldset>
                            
                            <fieldset class="form-group col-md-offset-1 col-md-10" >
                                <input type="text" class="form-control" id="form-login-password" placeholder="Ingrese su contraseña">
                            </fieldset>
                            
                            <fieldset class="form-group col-md-offset-1 col-md-10" >
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="form-login-recordarme" value="option1"> <p>Recordarme</p>
                                </label>
                            </fieldset>
                            
                            <fieldset class="form-group col-md-offset-1 col-md-10">
                                <div class="col-md-6" >
                                    <button type="button" class="btn btn-info col-md-12 col-sm-6 col-xs-12">Ingresar</button>
                                </div>
                                <div class="col-md-6" >
                                    <button type="button" class="btn btn-secondary col-md-12 col-sm-6 col-xs-12">No tengo un usuario</button>
                                </div>
                            </fieldset>
                            
                            <fieldset class="col-md-12 separador" >
                                <p><u>Olvide mi contraseña</u></p>
                            </fieldset>
                            
                        </div>
                    </form>
                </div>    
                
                <div class="row">
                    <div class="col-md-12">
                        <span>
                            <h2>Developed by Nibble Co.</h2>
                        </span>
                    </div>
                </div>
            </div>
            
            <div  class="col-xs-1 col-sm-1 col-md-3" style="background-color: lightblue;"></div>
                
        </div>
             
    </div>
{% endblock %}
