div.datepicker {
	position:absolute;
	text-align:center;
	border: 1px #C4D5E3 solid;
	font-family:arial;
	background:#FFF;
	font-size:10px;
	padding:0;
}
div.datepicker-calendar table {
	font-size:10px;
	border:1px solid #FFF;
	margin:0;
	padding:0;
	text-align:center;
}
div.datepicker div.datepicker-header {
	font-size:11px;
	font-weight:bold;
	background:#E9F5FF;
	border-bottom:1px solid #CCE9FF;
	padding:2px;
	text-align:center;
}
div.datepicker table.header {
	width:175px;
	border:0;
	padding:0;
	text-align:center;
}
td.prev,
td.prev_year,
td.next,
td.next_year {
	width:8%;
	color:#F7B72E;
	cursor:pointer;
	font-weight:bold;
	line-height:16px;
}
td.prev:hover,
td.prev_year:hover,
td.next:hover,
td.next_year:hover {
	color:#FF6600;
}
td.header {
	text-align:center;
	width:68%;
	font-weight:bold;
	line-height:16px;
}
div.datepicker-header {
	height:16px;
}
div.datepicker-calendar table tbody tr {
	border:1px solid #FFF;
	margin:0;
	padding:0;
}
div.datepicker-calendar table tbody tr td {
	border:1px #EAEAEA solid;
	margin:0;
	padding:0;
	text-align:center;
	height:16px;
	line-height:16px;
	width:21px;
	cursor:pointer;
}
div.datepicker-calendar table tbody tr td:hover,
div.datepicker-calendar table tbody tr td.outbound:hover,
div.datepicker-calendar table tbody tr td.today:hover {
	border:1px #CCE9FF solid;
	background:#E9F5FF;
	cursor:pointer;
}
div.datepicker-calendar table tbody tr td.wday {
	border:1px #CCE8FE solid;
	background:#E9F5FF;
	cursor:text;
	width:21px;
	height:16px;
	line-height:16px;
	font-weight:bold;
}
div.datepicker-calendar table tbody tr td.outbound {
	background:#F4F3F3;
}
div.datepicker-calendar table tbody tr td.today {
	border:1px #CCE9FF solid;
	background:#E9F5FF;
	background-image:url(/images/date_active.gif);
	background-repeat:no-repeat;
	position:top left;
	width:21px;
	height:16px;
	line-height:16px;
}
div.datepicker-calendar table tbody tr td.today:hover {
	border:1px #CCE9FF solid;
	background:#E9F5FF;
	background-image:url(../gfx/date_active.gif);
	background-repeat:no-repeat;
	position:top left;
}
div.datepicker-calendar table tbody tr td.nclick,
div.datepicker-calendar table tbody tr td.nclick_outbound {
	cursor:default;
	color:#aaa;
	width:21px;
	height:16px;
	line-height:16px;
}
div.datepicker-calendar table tbody tr td.nclick_outbound {
	background:#E8E4E4;
	width:21px;
	height:16px;
	line-height:16px;
}
div.datepicker-calendar table tbody tr td.nclick:hover,
div.datepicker-calendar table tbody tr td.nclick_outbound:hover {
	border:1px #EAEAEA solid;
	background:#FFF;
}
div.datepicker-calendar table tbody tr td.nclick_outbound:hover {
	background:#E8E4E4;
}
div.datepicker div.datepicker-footer {
	font-size:10px;
	background:#E9F5FF;
	border-top:1px solid #CCE9FF;
	cursor:pointer;
	text-align:center;
	padding:2px;
}

.date {
	float:left;
	border:1px solid #CCE9FF;
	font-size:11px;
	font-family:arial;
	padding:1px;
}
.datepicker-opener-table {
	border:none;
	padding:0;
	border-spacing:0;
	margin:0 0 0 3px;
	background:transparent url(../gfx/datepicker.gif) no-repeat 0 0;
	width:16px;
	height:16px;
	cursor:pointer;
}
.Opera .datepicker-opener-table {
	float:right;
}
.IE7 .datepicker-opener-table {
	position:relative;
	top:0;
	left:3px;
}
.datepicker-opener-table:hover {
	background:transparent url(../gfx/datepicker_ro.gif) no-repeat 0 0;
}
.datepicker-opener {
	width:16px;
	height:16px;
	margin:0 0 0 3px;
	cursor:pointer;
}