ui-autocompletelblAds/* DEFAULTS
----------------------------------------------------------*/

body   
{
    height: 100%;
    background: #FFFFFF;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 100%;
    height: 100%;
    margin: 0px;
    text-align:center;
    min-width:1024px;
    min-height: 600px;
}

.header
{
    /*position: relative;*/
    margin: auto 0 auto 0;
    padding: 0px;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:#CCCCCC;
    background: #F0F0F0;
    width: 100%;
    min-width:1024px;
    vertical-align:middle;
    z-index:1;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
    height: 100%;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
        background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

.menuTable
{
	border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
    border-style:solid;
    border-width:1px;
    border-color:#CCCCCC;
    background-color:#F8F8F8;
    vertical-align:top;
    margin-bottom:5px;
}

.menuTable1
{
	border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
    border-style:solid;
    border-width:2px;
    border-color:#CCCCCC;
    background-color:#C1C0C0;
    vertical-align:top;
    margin-bottom:5px;
    font-size:12pt;
    
}

.menuHeaderPopup
{
    border-style:solid;
    border-width:2px;
    border-color:#CCCCCC;
    background-color:#C1C0C0;
    vertical-align:top;
    margin-bottom:5px;
    font-size:12pt;
    
}

.redondo
{
	border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
    border-style:solid;
    border-width:1px;
    border-color:#CCCCCC;
    background-color:#F8F8F8;
    vertical-align:top;
    margin-bottom:5px;
}

.mainTable
{
    border-bottom-style:solid;
    border-left-style:solid;
    border-right-style:solid;
    border-color:#CCCCCC;
    border-bottom-width:1px;
    border-left-width:1px;
    border-right-width:1px;
    background-color:#F8F8F8;
    vertical-align:top;
    padding: 0px;
    text-align:left;
    margin-top:-3px;
    z-index:0;
}

.menuSection
{
    vertical-align:top;
    padding: 0;
    margin: 0;    
}

.menuTitle
{
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:#CCCCCC;
    background-color:#F8F8F8;
    width:100%;
    padding:0;
    margin:0 auto 0 auto;
    font-family: Arial;
    font-size:12px;
    font-weight:bold;
    height: 25px;
    color:#333333;
	text-align:center;
}

.nopadding
{
   padding:0;
}

.menuItem
{
    font-family:Tahoma;
    font-size:12px;   
}

.sectionTitle
{
    font-family:Arial;
    font-size:24px;
    color:#333333;
}

.sectionSubtitle
{
    font-family:Arial;
    font-size:11px;   
    color:#333333;
}

.anchoRegistro
{
    width: 150px;
}

#progressBarDiputados {
    width: 210px;
    height: 15px;
    text-align: center;
}

#progressBarSecretarios {
    width: 210px;
    height: 15px;
    text-align: center;
}

#c { width: 200px; height: 200px; border: solid 1px #ddd; }

#chartdiv {
    width       : 400px;;
    height      : 200px;
  margin: 0 auto;
    font-size   : 11px;
  border: 1px dotted #ccc;
}


* {
  margin: 0;
  padding: 0;
}
body {
  height:100%;
  background: #F8F8F8;
  font-family: "Oswald", "Helvetica Newe", Helvetica, sans-serif;
}
.chart {
  position: relative;
  width: 580px;
  height: 580px;
  margin-top:-50px;
  
 
}
.pieTip {
  position: absolute;
  float: left;
  min-width: 30px;
  max-width: 300px;
  padding: 5px 18px 6px;
  border-radius: 2px;
  background: rgba(255,255,255,.97);
  color: #444;
  font-size: 14px;
  text-shadow: 0 1px 0 #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  letter-spacing: .06em;
  box-shadow: 0 0 3px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.5);
  -webkit-transform: all .3s;
     -moz-transform: all .3s;
      -ms-transform: all .3s;
       -o-transform: all .3s;
          transform: all .3s;
  pointer-events: none;
}
.pieTip:after {
      position: absolute;
      left: 50%;
      bottom: -6px;
      content: "";
      height: 0;
      margin: 0 0 0 -6px;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      border-top: 6px solid rgba(255,255,255,.95);
      line-height: 0;
}
.chart path { cursor: pointer; }

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;   /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    z-index:1000 !important;
}

.ui-autocomplete1 {
    max-height: 500px;
    overflow-y: auto;   /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    z-index:1000 !important;
}

//recinto 

